<<<<<<< HEAD
body {
    font-family: Arial;
    text-align: center;
    background-color: rgb(73, 123, 148);
    padding-top: 50px;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    background-color: lightcyan;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
=======
body {
    font-family: Arial;
    text-align: center;
    background-color: rgb(73, 123, 148);
    padding-top: 50px;
}

h1 {
    color: white;
}

button {
    padding: 10px 20px;
    background-color: lightcyan;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
>>>>>>> 0f4c2b118d4bb47a47200d4c1a6da2241ebc9544
}